




  body{
  background:#f5f5f5;
}
.form-box{
  background:#fff;
  border:1px solid #000;
  padding:20px;
}
label{
  font-weight:600;
}
.skill-box{
  border:1px solid #ddd;
  padding:12px;
  border-radius:6px;
}